<h1>Listagem de Horários</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button class="button-green" [routerLink]="['/horario-aula/novo']">
    <mat-icon>add_circle</mat-icon>
    Novo Horário
  </a>
</mat-toolbar>
<table mat-table [dataSource]="horarios" class="mat-elevation-z8">

    <ng-container matColumnDef="professor">
      <th mat-header-cell *matHeaderCellDef>Professor</th>
      <td mat-cell *matCellDef="let horario"> {{horario.professor?.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef> Dia da Semana </th>
        <td mat-cell *matCellDef="let horario"> {{horario.dia_da_semana}} </td>
      </ng-container>
  
    <ng-container matColumnDef="disponibilidade">
      <th mat-header-cell *matHeaderCellDef> Disponibilidade </th>
      <td mat-cell *matCellDef="let horario"> {{horario.horario_disponivel_inicio}} - {{horario.horario_disponivel_fim}} </td>
    </ng-container>
     
    <ng-container matColumnDef="editar">
        <th mat-header-cell class="cell-align-center" *matHeaderCellDef>Editar</th> 
        <td mat-cell class="cell-align-center" *matCellDef="let horario">
            <a mat-raised-button title="Editar" 
                [routerLink]="['/horario-aula',horario._id]">
                <mat-icon>edit</mat-icon>
            </a>
        </td>
    </ng-container>
    
      <ng-container matColumnDef="excluir">
        <th mat-header-cell class="cell-align-center" *matHeaderCellDef>Excluir</th> 
        <td mat-cell class="cell-align-center" *matCellDef="let horario">
            <button mat-raised-button color="warn" title="Excluir" (click)="excluir(horario._id)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
      </ng-container> 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
